body {
margin: auto;
background-image: url('https://cdnb.artstation.com/p/assets/images/images/024/538/827/original/pixel-jeff-clipa-s.gif?1582740711');
background-color: blueviolet;
text-align: center;
}